<div class="card mb-3" style="max-width: 540px;">
    <div class="row">
        <div class="col-md-4 text-div">
            <div class="row">
                <h4>{{article.votes}}</h4>
            </div>
            <div class="row">
                <h5>Points</h5>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="{{article.link}}">{{article.title}}</a></h5>
                <div class="meta"> {{article.domain()}}</div>
                <button type="button" class="btn btn-link" (click)="voteUp()"><i
                        class="fa fa-regular fa-arrow-up"></i>Upvote</button>
                <button type="button" class="btn btn-link" (click)="voteDown()"><i
                        class="fa fa-regular fa-arrow-down"></i>Downvote</button>
            </div>
        </div>
    </div>
</div>